.card{
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid green;
}

a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    border-color: 1px solid green;
}